body {
	background: #4799df;
	font-family: "museo-slab",serif;
	margin-top: 50px;
	color: #fff;
}

h2 {
	font-weight: 300;
	font-size: 28px;
	margin: 10px;
}

a {
	text-decoration: underline;
	color: #fff;
}

.normal {
	font-weight: normal;
}

.option, pre {
	display: block;
	background: #59A3E2;
	width: 730px;
	padding: 10px;
	color: #ffffcc;
	text-align: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0px;
	overflow: hidden;
}

.container {
	width: 750px;
	margin: 0px auto;
	text-align: center;
}

.footer {
	font-size: 16px;
}

.blue { 
	color: #0b4d8c;
}

.blue A { 
	color: #0b4d8c;
}
.blue A:hover { 
	color: #337ABF;
}

.left {
	text-align: left;
}

p {
	font-size: 20px;
}
	
hr {
	margin: 20px 0px 20px 0px;
	height: 2px;
	background-image: url('/images/separator.png');
	border: 0;
}

.pad {
	padding: 5px 0px 5px 0px;	
}

.download {
	background: #0b4d8c;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px 60px 20px 60px;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
}
.download:hover {
	background: #337ABF;
}

::selection {
        background: #ffcc33;
}
::-moz-selection {
        background: #ffcc33;
}

.option {
	text-align: left;
	margin-bottom: 20px;
}

.option .name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}

.option .default {
	font-style: italic;
	color: #0b4d8c;
}

.option .default:before {
	content: "Default: ";
	color: #0b4d8c;
}

.option .desc:before {
	content: "Description: ";
}
